@page
@model Examen2_Solorzano_David.Pages.FacturaModel
@{
    ViewData["Title"] = "Factura";
}
<head>
    <link rel="stylesheet" href="~/css/form.css" />

</head>
<h2>Factura</h2>

<form method="post">
    <h1>Detalles del pedido</h1>
    <br>

    <p>Observe bien los detalles del pedido</p>
    <br>

    <h3>Pizza</h3>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h4>Elementos</h4>
            <br>
            <p>Tamaño: @Model.tamanio</p>
            <br>
            <p>Masa: @Model.masa</p>
            <br>
            <p>Salsa: @Model.salsa</p>
            <br>
            <p>Queso: @Model.queso</p>
            <br>
            <p>Ingredientes: @Model.ingrediente</p>
            <br>

            <p>precio Total</p>
            <br>
        </div>
        <div class="col-sm-6">
            <h4>Precio</h4>
            <br>
            <p> @Model.precioTamano colones</p>
            <br>
            <p>@Model.precioMasa colones</p>
            <br>
            <p> 500 colones</p>
            <br>
            <p> 500 colones</p>
            <br>

            <p>@Model.precioIngre colones</p>
            <br>
            <p>@Model.precioTotal colones</p>
            <br>
        </div>
    </div>
    <br>
    <hr>
    <h3>Direccion de entrega</h3>
    <br>

    <p>@Model.direccion</p>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <div class="btn">
                <button type="submit" class="btn btn-success">Confirmar</button>
            </div>
        </div>
    </div>
</form>


